.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color:#00b3aa;
  background-image: url('./../Images/BG_circle.png');
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-icon{
  margin: -15px;
  height: 70px;
}

.App-header { 

  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-MessageBox{
  text-align: center;
  height:'100%';
  min-height:'200px';
  overflow-x:'hidden';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
